@{
    ViewData["Title"] = "Home Page";
}

<div class="containerMain">
    
    <div class="moveText"><p>Education For Your Future!</p></div>
    @*<img class="img1" src="~/img/university2.jpg" />*@

</div>

<div class="row">
    <div class="col-12 text-center welcome">
        <h2>Welcome to the National University</h2>
        <p>
            The NU offers a broad catalog of courses and
            support services for students. Have a look at
            our course list and check about our instructors.


        </p>
        <a class="btn btn-outline-primary" href="/Courses">Courses</a>
    </div>

</div>

<div class="row text-center midcontainer">
    
    <div class="col-4 welcome">
        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
        <h2>Made for Students</h2>
        <p>
            The NU offers a broad catalog of careers and
            support services for students. Have a look at
            our page and contact us for more information!
        </p>
    </div>

    <div class="col-4 welcome">
        <i class="fas fa-4x fa-scroll text-primary mb-4"></i>
        <h2>Careers +</h2>
        <p>
            Choose your desired career with the help of
            our + program and experts. We want your
            academic success!
        </p>
    </div>

    <div class="col-4 welcome">
        <i class="fas fa-headset fa-4x text-primary mb-4"></i>
        <h2>Support Services</h2>
        <p>
            Need help with college? Ask our support center
            and contact our service departments to help you.
            We are here for you!
        </p>
    </div>
    
</div>



<h2 id="eventheader">University Events</h2>
<hr />
<div class="row text-center botcontainer">
    
    <div class="col-6 welcome">
        <h4>Upcoming visit from the President</h4>
        <p>
            <b>June 24th</b> - Prepare for one hour conference with
            the president of the nation about the importance
            of education. 
        </p>
    </div>

    <div class="col-6 welcome">

        <h4>Open Enrollmnet</h4>
        <p>
            <b>April 10th</b> - Students may enroll for classes
            New classes will be available for this period.
        </p>
    </div>

    <div class="col-6 welcome">

        <h4>Service Activity</h4>
        <p>
            <b>July 6th</b> - Join our social service department
            to clean the campus and work in the local 
            retirenment house to serve food to war veterans.
        </p>
    </div>

    <div class="col-6 welcome">

        <h4>IT Conference</h4>
        <p>
            <b>July 25th</b> - Join our virtual meeting with the IT
            department and learn about prospect jobs in the field.
        </p>
    </div>

</div>


