@{
    ViewData["Title"] = "Home Page";
}

<div class="containerMain">
    <p>WE ARE HERE TO EDUCATE!</p>
    <div class="moveText"><p>We are here to educate</p></div>
    @*<img class="img1" src="~/img/university2.jpg" />*@

</div>

<div class="row">
    <div class="col-12 text-center welcome">
        <h2>Welcome to the National University</h2>
        <p>
            The NU offers a broad catalog of careers and
            support services for students. Have a look at
            our page and contact us for more information!


        </p>
    </div>

</div>







